@import '~mixins/flex';
@import '~mixins/center';

.wrapper {
  @include flex($dir: column);
  @include center($horz: flex-start)

  width: 100%;
  height: 100%;

  padding-top: 20px;
  padding-bottom: 20px;

  .page {
    @include flex($dir: row);
    @include center($horz: flex-start)

    width: 100%;
    height: 100%;
  }
}