@import 'mixins/flex';
@import 'mixins/center';
@import '~mixins/shadow';
@import '~mixins/borders';
@import '~colors';

.wrapper {
  @include flex($dir: row);
  @include center($vert: flex-start);

  width: 100%;
  height: 100%;

  margin-bottom: 20px;
}