@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~mixins/textArea';


.headerWrapper {
  @include flex($dir: row);
  @include center($horz: flex-start);

  width: 100%;
  height: 50px;

  font-size: 20px;

  .headerText {
    @include text;

    width: 400px;
    margin-right: 10px;

    .headerLabel {
      @include label;
    }
  }

  .headerText:hover {
    .headerLabel {
      opacity: 1;
    }
  }

  .sequenceText {
    @include text;

    width: 100px;
    margin-right: 10px;

    .sequenceLabel {
      @include label;
    }
  }

  .sequenceText:hover {
    .sequenceLabel {
      opacity: 1;
    }
  }

  .captionText {
    @include text;

    margin-right: 10px;

    .captionLabel {
      @include label;
    }
  }

  .captionText:hover {
    .captionLabel {
      opacity: 1;
    }
  }

  .slugText {
    @include text;
    width: 100px;

    .slugLabel {
      @include label;
    }
  }

  .slugText:hover {
    .slugLabel {
      opacity: 1;
    }
  }
}