@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~colors';

.wrapper {
  @include flex($dir: row)
  @include center;

  width: 100%;
  height: 30px;

  padding: 3px;

  .textWrapper {
    position: relative;

    @include flex($dir: row)
    @include center;

    height: 30px;

    img {
      position: absolute;
      visibility: hidden;

      width: 18px;
      height: 18px;

      @include border($radius: 9px, $width: 0);
      z-index: 999;
    }

    img:hover {
      background-color: white-overlay($alpha: 0.5);
    }

    .deleteBtn {
      right: 0;
    }

    .arrowUp {
      right: 40px;
    }

    .arrowDown {
      right: 20px;
      transform: rotate(180deg);
    }
  }
}

.wrapper:hover {
  .textWrapper {
    img {
      visibility: visible;
    }
  }
}

.focused {
  input {
    background-color: white-overlay($alpha: 0.5);
  }
}