@import '~colors';
@import '~mixins/shadow';
@import '~mixins/borders';

.postWrapper {
  width: 800px;
  margin-bottom: 20px;

  h4 {
    min-height: 25px;
    padding: 5px;
    margin: 0;

    font-size: 40px;
    font-weight: 400;
    
    color: $foreground;

    @include borderBottom($color: $brand);
  }

  .textWrapper {
    min-height: 50px;
    padding: 10px;
  }
}

.postWrapper:first-child {
  margin-top: 10px;
}