@import '~colors';
@import '~mixins/shadow';

.postWrapper {
  @include shadow();
  margin-bottom: 20px;

  h4 {
    height: 25px;
    padding: 5px;
    margin: 0;

    color: $main-background;
    background-color: $brand-light;
  }

  .textWrapper {
    min-height: 50px;
    padding: 10px;
    background-color: white-overlay($level: "4");
  }
}

.postWrapper:first-child {
  margin-top: 10px;
}