@import '~colors';
@import '~media';
@import '~mixins/shadow';
@import '~mixins/borders';
@import '~mixins/flex';

.wrapper {
  @include flex;

  width: 100%;

  padding-left: 20px;
  padding-right: 20px;

  h4 {
    height: max-content;
    padding: 5px;
    margin: 0;

    font-size: 2.5em;
    font-weight: 400;

    color: $foreground;

    @include borderBottom($color: $brand);
  }

  .textWrapper {
    min-height: 50px;
    padding: 10px;

    font-size: 20px;

    @include media($media-max-small) {
      font-size: 12px;
    }
  }
}