@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~colors';

.wrapper {
  @include flex($dir: row)
  @include center($horz: flex-start)

  width: 100%;
  height: auto;

  padding: 5px;
}

.wrapper:hover {
  @include shadow;
}