@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~colors';

.wrapper {
  @include flex($dir: row)
  @include center($vert: flex-start);

  height: 35px;
  width: 100%;
  padding: 5px;

  .header {
    @include flex($dir: row)
    @include center($horz: flex-start);

    font-size: 12px;
    height: 100%;
    width: 100%;

    padding-left: 10px;

    overflow: hidden;
  }

  .mode {
    @include flex($dir: row)
    @include center($horz: flex-start);

    font-size: 12px;
    height: 100%;
    width: 200px;

    overflow: hidden;

    text-align: center;

    padding-left: 10px;
    @include borderLeft($color: $brand);
  }

  .sequence {
    height: 100%;
    width: 30px;

    font-size: 12px;
    text-align: center;

    padding-left: 10px;
    @include borderLeft($color: $brand);
  }
}

.focused {
  background-color: white-overlay($alpha: 0.5);
}

.published {
  background-color: rgba(mix-brand($color: green, $weight: 50%), 0.15)
}

.checked_out {
  background-color: rgba(mix-brand($color: red, $weight: 50%), 0.15)
}

.wrapper:hover {
  @include shadow;
}