@import '~mixins/flex';
@import '~mixins/center';
@import '~colors';

.wrapper {
  @include flex($dir: column);

  height: 100%;
  width: 100%;

  color: $foreground;

  .editWrapper {
    @include flex($dir: row);

    height: 100%;
    width: 100%;
  }

  .contentWrapper {
    @include flex;
    @include center;

    height: 100%;
    width: 100%;

    padding: 20px;
  }
}