$text-main: hsl(0, 0%, 25%);
$text-light: hsl(0, 0%, 45%);

$main-color: hsla(210, 4%, 40%, 1);

$main-background: hsla(214, 7%, 17%, 1);
$light-background: hsla(209, 6%, 16%, 0.65);

$transparent: hsla(0, 0%, 100%, 0);
