$text-main: hsl(0, 0%, 75%);
$text-dark: hsl(0, 0%, 50%);

$main-background: hsla(40%, 5%, 7%, 1);

@function white-overlay($color: $brand, $alpha: 0.75) {
  @return rgba($color, $alpha);
}

@function mix-brand($color: $transparent, $weight: 50%) {
  @return mix($brand, $color, $weight);
}

$brand: hsla(30, 39%, 54%, 1);

$background: hsla(0, 0%, 100%, 1);
$foreground: hsla(0, 0%, 16%, 1);

$transparent: hsla(0, 0%, 100%, 0);

:export {
  brand: $brand;
  background: $background;
  foreground: $foreground;
  transparent: $transparent;
}
