@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~mixins/textArea';

.wrapper {
  @include flex($dir: column);
  @include center($horz: flex-start, $vert: flex-end);

  position: relative;

  height: 100%;
  width: 100%;

  .blocksWrapper {
    @include flex;
    @include center($horz: flex-start);

    height: 100%;
    width: 800px;

    padding: 10px;
    margin-top: 10px;
    margin-right: 5px;

    overflow: scroll;
    @include border($color: $brand);
    @include shadow;
  }
}