@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~mixins/textArea';

.wrapper {
  @include flex($dir: column);
  @include center($horz: flex-start, $vert: flex-end);

  height: 100%;
  width: 100%;

  .blockWrapper {
    @include flex($dir: row);
    @include center($horz: flex-start, $vert: flex-end);

    height: 100%;
    width: 100%;
  }
}