@import '~mixins/shadow';
@import '~mixins/borders';
@import '~mixins/flex';
@import '~colors';

.main {
  @include flex(column);

  width: 800px;
  height: 100%;

  @include shadow;

  background-color: white-overlay($level: "1");
}