@import '~mixins/shadow';
@import '~mixins/borders';
@import '~mixins/flex';

.main {
  @include flex(column);

  width: 800px;
  height: 100%;

  @include shadow;
  @include border($color: #ddd);

  background-color: white;
}