@import '~mixins/shadow';
@import '~mixins/borders';

@import '~colors';

.contentEditor {
  height: 100%;
  width: 100%;

  padding: 10px;
  overflow: scroll;

  cursor: text;

  background-color: white-overlay($level: "1")
}