@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~colors';

.wrapper {
  position: relative;

  @include flex($dir: row);
  @include center($horz: flex-start)
  height: 30px;

  span {
    padding-right: 5px;
  }

  .text {
    width: 100%;
    padding-bottom: 2px;

    @include borderBottom($color: $brand);
  }

  img {
    position: absolute;

    height: 18px;
    width: 18px;

    left: calc(100% - 20px);
  }

  img:hover {
    background-color: $brand;
    @include border($radius: 9px, $width: 0)
  }
}