@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~colors';

.wrapper {
  @include flex($dir: row)
  @include center($vert: flex-start);

  height: 50px;
  width: 100%;
  padding: 10px;

  font-size: 20px;

  @include borderBottom;

  .headerWrapper {
    font-size: 14px;
    height: 100%;
    width: 100%;
  }

  .sequenceWrapper {
    height: 100%;
    width: 30px;

    font-size: 14px;
    text-align: center;

    padding-left: 10px;
    @include borderLeft;
  }
}

.wrapper:hover {
  @include borderBottom($color: $brand)
}