@import '~colors';

.wrapper {
  position: relative;
  padding: 0 10px 10px 10px;

  width: inherit;

  .header {
    position: sticky;
    top: 100px;

    width: inherit;

    padding: 10px 0 10px 0;
    background-color: $background;

    z-index: 900;
  }

  .blocks {
    width: inherit;
    
    overflow: scroll;
  }
}