@import '~media';
@import '~mixins/flex';
@import '~colors';

.wrapper {
  position: relative;
  width: 100%;

  padding: 0 10px 10px 10px;

  .header {
    position: fixed;

    width: 100%;

    padding: 10px 0 10px 0;
    background-color: $background;

    z-index: 900;
  }

  .blocks {
    position: relative;

    margin-top: 50px;
    height: 100%;
    width: 100%;

    overflow: scroll;
  }
}