@import '~colors';
@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/shadow';

.wrapper {
  padding: 0 10px 10px 10px;

  width: inherit;

  .header {
    position: sticky;
    @include flex($dir: row)

    top: 100px;

    width: inherit;

    padding: 10px 0 10px 0;
    background-color: $background;

    z-index: 900;

    .arrowMotion {

    }

    .headerMotion {
      @include flex();
      @include center();

      width: 100%;

      font-size: 24px;
      font-weight: bold;

      color: $textdark;
    }
  }

  .blocks {
    width: inherit;
    height: calc(100vh - 170px);

    overflow: scroll;
  }
}