@import '~mixins/shadow';
@import '~mixins/borders';

@import '~colors';

.contentEditor {
  height: 100%;
  width: 100%;

  overflow: scroll;
  cursor: text;

  padding: 10px;

  @include border($color: $textmain)
  background-color: $background;
}