@import '~mixins/shadow';
@import '~mixins/borders';
@import '~colors';

.edit-blog-main {
  display: flex;
  flex-direction: column;

  height: 75%;
  width: 800px;

  padding: 1px;

  background-color: white;

  @include border($color: #cccccc);
  @include shadow();
}