@import '~colors';
@import '~mixins/flex';
@import '~mixins/center';

.wrapper {
  @include flex($dir: column)
  @include center($horz: flex-start)
  position: relative;

  width: 100%;
  max-width: 800px;

  height: 100%;
}