@import '~mixins/flex';
@import '~mixins/center';

.wrapper {
  position: relative;
  
  @include flex($dir: column);
  @include center($horz: flex-start)

  width: 100%;
  max-width: 800px;

  height: 100%;
}