@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';

.list {
  @include flex;
  @include center;

  width: 100%;
  padding: 5px;

  .list-row {
    @include flex($dir: row);
    @include center($horz: flex-start);

    width: 100%;
    padding: 5px;

    @include border($color: $transparent, $radius: 3px);
  }

  .selected {
    background-color: white-overlay($color: $brand, $alpha: 0.5);
  }

  .list-row:hover {
    @include border($color: $brand, $radius: 3px);
  }
}