@import '~mixins/shadow';
@import '~mixins/borders';
@import '~mixins/flex';
@import '~mixins/center';

@import '~colors';

.actionBtn {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 25px;
  padding: 0 5px 0 5px;

  @include border($radius: 2px);
  background-color: white-overlay($level: "8");

  cursor: pointer;

  .text {
    @include flex;
    @include center;

    width: max-content;
    height: min-content;

    font-size: 1vw;
    color: $text-main;
  }

  @include shadow()
}

.actionBtn:hover {
  background-color: white-overlay($level: "6");
}

.disabled {
  background-color: white-overlay($level: "1");

  cursor:not-allowed;
}