@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/shadow';
@import '~mixins/borders';
@import '~media';
@import '~colors';

.header {
  @include flex($dir: row);
  @include center($horz: space-between)

  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100px;

  padding: 20px 20px 20px 20px;

  @include media($media-max-medium) {
    background-color: lighten-brand();
  }

  background-color: $background;
  @include shadow();

  z-index: 999;

  .logo {
    color: $foreground;

    @include media($media-small-dev) {
      font-size: 25px;
    }

    @include media($media-medium-dev) {
      font-size: 35px;
    }

    font-size: 50px;
    font-weight: bold;
  }

  .links {
    @include flex($dir: row);

    .link {
      @include flex($dir: column);
      @include center($horz: center);

      height: 24px;

      a {
        height: 100%;

        color: $brand;
        font-size: 17px;
        text-decoration: none;

        img {
          height: 24px;
        }

        img:hover {
          @include shadow($spread: 2px)
        }
      }
    }

    .link:first-child {
      padding-right: 10px;
    }
  }

  .circle {
    border-radius: 12px;
  }
}