@import '~mixins/flex';
@import '~mixins/shadow';
@import '~colors';

.header {
  @include flex($dir: row);
  flex-flow: row;

  width: 100%;
  height: 100px;

  padding: 20px 20px 20px 20px;

  justify-content: center;

  font-size: 40px;
  color: $text-main;

  background-color: white-overlay($level: "4");
  @include shadow($y: 5px)
}