@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~colors';

.wrapper {
  @include flex;
  @include center($vert: flex-start);

  height: 50px;
  padding: 5px;

  @include borderBottom;

  .inputWrapper {
    width: 100%;
  }
}

.inFocus {
  @include borderBottom($color: $brand);
  @include shadow;
}

.wrapper:hover {
  @include borderBottom($color: $brand)
}