@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~mixins/shadow';

.wrapper {
  position: relative;

  height: 100%;
  width: 800px;

  margin-right: 5px;

  .preview {
    @include flex;
    @include center($horz: flex-start);

    height: 100%;
    width: 800px;

    padding: 10px;

    overflow: scroll;
    @include border($color: $brand);
    @include shadow;
  }

  .reset, .triggerOut {
    position: absolute;

    @include flex;
    @include center;

    align-self: flex-start;

    height: 50px;
    width: 50px;

    background-color: $brand;

    img {
      position: absolute;
      height: 31px;
    }
  }

  .triggerOut {
    left: 60px;
  }

  .reset:hover {
    @include shadow($spread: 3px)
  }
}