@import '~colors';
@import '~media';
@import '~mixins/borders';
@import '~mixins/flex';

.wrapper {
  @include flex($dir: row);
  width: inherit;

  .inner {
    @include flex($dir: column);
    width: 100%;

    .header {
      @include flex($dir: row)
      width: inherit;

      .headerText {
        width: inherit;
        height: 50px;

        padding: 5px;
        margin: 0;

        font-size: 1.5em;
        font-weight: 400;
        color: $textdark;

        @include borderBottom($color: $brand);
      }
    }

    .caption {
      width: inherit;
      min-height: 50px;
      
      padding: 10px;

      @include media($media-max-small) {
        font-size: 12px;
      }
    }
  }

  .button {
    position: relative;

    margin-left: 10px;
    top: 50px;

    transform: translateY(-15px) rotate(90deg);
  }
}

.wrapper:first-child {
  margin-top: 10px;
}