@import '~mixins/flex';
@import '~mixins/center';
@import '~mixins/borders';
@import '~colors';

.editPostWrapper {
  @include flex;
  @include center($vert: flex-start);

  height: 50px;
  padding: 5px;

  @include borderBottom;

  .inputWrapper {
    width: 100%;
  }
}

.inFocus {
  background-color: $brand-dark;
}

.editPostWrapper:hover {
  @include borderBottom($color: $brand-light)
}