@import '~colors';
@import '~mixins/borders';
@import '~mixins/shadow';
@import '~mixins/flex';
@import '~mixins/center';

.dropdownlist-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  .dropdownlist-header {
    position: relative;
    @include flex($dir: row);
    @include center($horz: space-between);

    padding: 5px;

    @include borderBottom($color: $brand)

    img {
      position: relative;
      top: 3px;

      opacity: 0.5;

      width: 10px;
      height: 7px;
    }
  }

  .dropdownlist-list {
    position: absolute;

    height: 0;
    opacity: 0;

    transition: height 300ms ease, opacity 0ms ease 300ms, padding 100ms ease 200ms;

    width: 100%;
    padding: 0;

    overflow: scroll;

    background-color: $background;
    @include border();
    @include borderRadius($bl: 10px, $br: 10px);
    @include shadow();

    z-index: 999;
  }
}

.dropdownlist-wrapper:hover {
  .dropdownlist-list {
    height: 150px;
    opacity: 1;
    padding: 5px;

    transition: height 300ms, opacity 0ms, padding 0ms;
  }
}