@import '~mixins/flex';
@import '~mixins/borders';
@import '~colors';

.wrapper {
  @include flex($dir: column);

  min-width: max-content;
  height: 100%;

  padding: 10px;

  .buttonWrapper {
    margin-top: 20px;
  }
}